@font-face {
    font-family: 'priorisan';
    src: url('../assets/fonts/priorisanregular-webfont.woff2') format('woff2'),
    url('../assets/fonts/priorisanregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'priorisan';
    src: url('../assets/fonts/priorisanbold-webfont.woff2') format('woff2'),
    url('../assets/fonts/priorisanbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}